.navbar-default .navbar-toggle .icon-bar{
    background-color: #0AB4FA;
}

.main-menu .navbar-default .navbar-nav .active a{
    color: #0AB4FA;
}

.main-menu nav li a::after {
    background: #0AB4FA;
}

.typer{
    color: #0AB4FA !important;
}

.banner-text h2{
    color: #0AB4FA;
}

.book-btn a{
    background: #0AB4FA;
    border: 3px solid #0AB4FA;
}

.book-btn a:hover{
    border: 3px solid #7CD6FF; /* tom mais suave de azul */
}

.hvr-underline-from-center::before{
    background: #7CD6FF;
}

.block-title{
    color: #0AB4FA;
}

.item-type-zoom .item-hover:hover::before{
    background: rgba(10, 180, 250, 0.5); /* tom mais suave de azul */
}

.special-box .owl-theme .owl-controls .owl-page.active span{
    background: #0AB4FA;
}

.offer-item div h3{
    color: #0AB4FA;
}

.tab-menu .is-active{
    background: #0AB4FA;
}

.tab-menu .slick-arrow.slick-prev{
    background: #0AB4FA url(../../images/back.png) no-repeat center;
    background-position: 2px 4px;
}

.tab-menu .slick-arrow.slick-next{
    background: #0AB4FA url(../../images/next.png) no-repeat center;
    background-position: 7px 4px;
}

.tab-menu .slick-arrow.slick-prev:hover{
    background: #0AB4FA url(../../images/back_hover.png) no-repeat center;
    background-position: 2px 4px;
}

.tab-menu .slick-arrow.slick-next:hover{
    background: #0AB4FA url(../../images/next_hover.png) no-repeat center;
    background-position: 7px 4px;
}

.offer-item .offer-price{
    border: 1px solid #0AB4FA;
}

.sf-team:hover .text-col{
    background-color: #0AB4FA;
}

.gal-item a::after{
    background-color: rgba(10, 180, 250, 0.75); /* tom mais suave de azul */
}

.overlay i:hover{
    border: 1px solid #0AB4FA;
    color: #0AB4FA;
}

.blog-btn-v a{
    background: #0AB4FA;
    border: 3px solid #0AB4FA;
}

.blog-btn-v a:hover{
    border: 3px solid #7CD6FF;
}

.book-srv a{
    background: #0AB4FA;
    border: 3px solid #0AB4FA;
}

.book-srv a:hover{
    border: 3px solid #7CD6FF;
}

.reserve-book-btn button{
    background: #0AB4FA;
    border: 3px solid #0AB4FA;
}

.reserve-book-btn button:hover a{
    color: #000000;
}

.reserve-book-btn button:hover {
    border: 3px solid #7CD6FF;
}

.panel-pricing .panel-heading{
    background: #0AB4FA;
}

.panel-pricing{
    border: 1px solid #0AB4FA;
}

.panel-body p strong span{
    color: #0AB4FA;
}

.pricing-main .panel-footer a{
    background: #0AB4FA;
    border: 3px solid #0AB4FA;
}

.pricing-main .panel-footer a:hover{
    border: 3px solid #7CD6FF;
}

.footer-news form a{
    background: #0AB4FA;
}

.footer-news form a:hover{
    border: 2px dotted #0AB4FA;
}

.footer-box-a h3{
    color: #0AB4FA;
}

.footer-box-b h3{
    color: #0AB4FA;
}

.footer-box-c h3{
    color: #0AB4FA;
}

.footer-box-d h3{
    color: #0AB4FA;
}

.footer-box-c p a:hover{
    color: #0AB4FA;
}

.footer-box-b ul li a:hover{
    color: #0AB4FA;
}

.footer-box .socials-box a:hover .social-circle-border{
    color: #0AB4FA;
}

.footer-box-c p i{
    color: #0AB4FA;
}

.copyright-main{
    background: #0AB4FA;
}

#color-panel a.panel-button:hover{
    color: #0AB4FA;		
}

textarea {
    resize: none;
}

.purple-bg {
    background-color: #6c1bb3; /* Não alterado */
}

.red-w-bg {
    background-color: #FA0A35; /* Não alterado */
}

.blue-bg {
    background-color: #0AB4FA; /* Não alterado */
}

.yellow-bg {
    background-color: #37A554; /* Não alterado */
}
